




/*
     FILE ARCHIVED ON 16:27:19 Sep 29, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:38:11 Apr 25, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
 * Widget styles for Jetpack
 */

/* Clear floats */
.jetpack-image-container:after {
	clear: both;
}
.jetpack-image-container:before,
.jetpack-image-container:after {
	display: table;
	content: "";
}
