<footer id="colophon" class="site-footer container" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="logo-small footer-logo">
          <img src="/images/site/blue-logo.png" alt="Code for Europe">
        </h1>
      </div>
      <div class="col-md-7 footer-nav clearfix">
        <div class="menu-footer-menu-container">
          <ul id="footer-menu" class="menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="index.html">Home</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about">About</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/posts">Posts</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/fellows">Fellows</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="mailto:cfe@dogodigi.net"><i class=" fa fa-envelope-o"></i></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://github.com/codeforeurope"><i class=" fa fa-github"></i></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://twitter.com/codeforeu"><i class=" fa fa-twitter"></i></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.facebook.com/CodeForEurope/"><i class=" fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    <div class="site-info screen-reader-text">
      <a href="index.html">{{ page.title }}</a>
    </div>
    <!-- .site-info -->
  </div>
  <!--.container-->
</footer>
