<footer>
  <div class="wrapper">
    <div style="text-align: center; margin-top: 80px; margin-bottom: 80px">
      <h2>How to reach us</h2>
      <a href="https://github.com/orgs/codeforeurope" class="social">
        <img class="social" src="/img/social/Github.png">
      </a>
      <a href="https://www.linkedin.com/groups/13514022" class="social">
        <img class="social" src="/img/social/Linkedin.png">
      </a>
      <a href="https://twitter.com/codeforeu" class="social">
        <img class="social" src="/img/social/Twitter.png">
      </a>
      <a href="https://codeforall.slack.com" class="social">
        <img class="social" src="/img/social/Slack.png">
      </a>
      <a href="https://part-up.com/tribes/open-data-and-civic-innovation" class="social">
        <img class="social" src="https://part-up.com/images/favicons/apple-icon-120x120.png">
      </a>
      <a href="mailto://info@codefor.eu" style="color: white; text-decoration: none" class="social">
        <img class="social" src="/img/social/Mail.png">
      </a>
      <br>
      <a href="mailto://info@codefor.eu" style="color: white; text-decoration: none">info@codefor.eu</a>
    </div>
  </div>
</footer>