<header id="masthead" class="site-header" role="banner">
  <section id="top" class="header-image">
    <div class="hero" style="background: url('https://api.mapbox.com/styles/v1/miblon/civ416jt6004g2inhck80936x/static/8.734973,47.945371,4.20,-15.00,55.00/1280x805?access_token=pk.eyJ1IjoibWlibG9uIiwiYSI6IjRJak9WYUkifQ.NOqcZh0hQeYTp6BQIZr0GQ') no-repeat center fixed; background-size: cover;">
      <!-- <div class="hero"> -->
      <div class="hero-overlay">
        <div class="container hero-container">
          <div class="row nav-wrapper">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
              <a class="animated fadeInDown logo" href="index.html"><img src="/images/site/white-logo.png" alt="{{ page.title }}"></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
              <p>MENU</p><a id="menu-toggle" class="nav_slide_button nav-toggle" href="index.html#"><span></span></a>
            </div>
          </div>
          <div class="row hero-content">
            <div class="col-md-12">
              <div class="site-branding">
                <h1 class="site-title"><a href="index.html" rel="home">{{ page.title }}</a></h1>
                <h2 class="site-description">We connect Open Source and Open Data initiatives in Europe.</h2>
                <h2 class="site-description screen-reader-text"></h2>
              </div>
              <!-- .site-branding -->
              <a href="index.html#one" class="learn-btn animated fadeInUp">Learn More<i class="fa fa-arrow-down"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--hero-overlay-->
    </div>
  </section>
  <div id="site-navigation" class="main-navigation" role="navigation">
    <div id="sidebar-wrapper">
      <nav class="sidebar-nav">
        <a id="menu-close" href="/" class="nav-close btn pull-right toggle"><i class="fa fa-times"></i></a>
        <div class="normal-menu">
          <div class="menu-primary-menu-container">
            <ul id="hero-menu" class="menu">
              <li id="menu-item-1666" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1251 current_page_item menu-item-1666"><a href="/">Home</a></li>
              <li id="menu-item-1667" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1667"><a href="/about">About</a></li>
              <li id="menu-item-1668" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1668"><a href="/posts">Posts</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- #site-navigation -->
    </div>
  </div>
</header>
<!-- #masthead -->
