<!-- begin small header -->
<header id="masthead" class="site-header small-header" role="banner">
  <div class="small-hero" style="background: url('/images/content/launch-computer-3.png') no-repeat center; background-size: cover;">

    <div class="small-hero-overlay">
      <div class="container">
        <div class="row small-hero-wrapper">
          <div class="col-md-6 col-sm-6 col-xs-6 text-left">
            <a class="animated fadeInDown logo" href="index.html"><img src="/images/site/white-logo.png" alt="Code for Europe"></a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
            <p>MENU</p><a id="menu-toggle" class="nav_slide_button nav-toggle" href="#"><span></span></a>
          </div>
        </div>
        <div id="site-navigation" class="main-navigation" role="navigation">
          <div id="sidebar-wrapper">
            <nav class="sidebar-nav">
              <a id="menu-close" href="http://codeforeurope.net/about/#" class="nav-close btn pull-right toggle"><i class="fa fa-times"></i></a>
              <div class="menu-sitewide-container">
                <ul id="sitewide-menu" class="menu">
                  <li id="menu-item-1666" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1666"><a href="{{ site.url }}">Home</a></li>
                  <li id="menu-item-1667" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1667"><a href="/about".html">About</a></li>
                  <li id="menu-item-1668" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1251 current_page_item menu-item-1668"><a href="posts">Posts</a></li>
                </ul>
              </div>
            </nav>
            <!-- #site-navigation -->
          </div>
        </div>
      </div>
    </div>
    <!--small-hero-overlay-->
  </div>
  <!--small-hero -->

</header>
<!-- #masthead -->
