<!DOCTYPE html>
<html lang="en-US" class=" js no-touch">
{% include header.html %}

<body class="home page page-id-252 page-template-default group-blog">
  <div id="page" class="hfeed site">
    <a class="skip-link screen-reader-text" href="index.html#content">Skip to content</a> {% include masthead.html %}
    <div id="content" class="site-content">
      <div id="primary" class="front-content-area">
        <main id="main" class="site-main" role="main">
          <section id="one" class="front-section intro-text">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  We are a community network for Open Source and Open Data initiatives across Europe that has four goals:
                  <ul>
                    <li>Enable Open Knowledge exchange</li>
                    <li>Facilitate collaboration between various cities and countries</li>
                    <li>Exchange Fellows, Developers and Data Scientists</li>
                    <li>Collaboratively apply for grants or funds</li>
                  </ul>

                </div>
              </div>
            </div>
          </section>
          <section id="three" class="front-section featured">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-4 featured-block featured-1">
                    <div class="feature-inner">
                      <div class="feature-icon">
                        <i class="fa fa-github"></i>
                      </div>
                      <div class="feature-content">
                        <h1>Become a Fellow</h1>
                        <p>Join our developers on <a href="https://github.com/codeforeurope">github</a> and see if there are opportunities available that fit your skills.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 featured-block featured-2">
                    <div class="feature-inner">
                      <div class="feature-icon">
                        <i class="fa fa-paper-plane-o"></i>
                      </div>
                      <div class="feature-content">
                        <h1>Join Our Network</h1>
                        <p>Do you want to join Code For Europe? Sign up for our <a href="http://eepurl.com/ctHYQz">newsletter</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 featured-block featured-3">
                    <div class="feature-inner">
                      <div class="feature-icon">
                        <i class="fa fa-heart"></i>
                      </div>
                      <div class="feature-content">
                        <h1>Sponsors</h1>
                        <p>It is always good to have friends! Drop us an <a href="mailto:cfe@dogodigi.net">email</a> and we will discuss how you can show your support.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="five" class="front-section updates">
            <div class="updates-background" style="background: url('images/site/splash-image.jpg') no-repeat center fixed; background-size: cover;">
              <div class="updates-overlay">
                <div class="container">
                  <div class="row">
                    <div class="updates-inner col-md-12">
                      <div class="icon-col col-md-4">
                        <div class="news-icon"><i class="fa fa-newspaper-o"></i></div>
                      </div>
                      <div class="informed-col col-md-8">
                        <h1 class="update-title">Want to stay informed?</h1>
                        <p>Check out the latest news on our blog.</p>
                        <a href="posts" class="btn update-btn">Read More Here</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--.container-->
              </div>
              <!--.overlay -->
            </div>
            <!--.updates-background-->
          </section>
          <section id="six" class="front-section partners">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-md-12"><h2>Active partners</h2></div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-2">
                  <a href="https://6aika.fi/"><img class="img-responsive" alt="6Aika" title="6Aika, Finland" src="/images/partners/logo_6aika.png" /></a>
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_codeforireland.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <a href="http://kodujdlapolski.pl/"><img class="img-responsive" alt="Koduj da Polski" title="Koduj da Polski, Poland" src="/images/partners/logo_kodujdlapolski.png" /></a>
                </div>
                <div class="col-xs-6 col-md-2">
                  <a href="http://codefornl.github.io"><img class="img-responsive" alt="Code For NL" title="Code For NL, The Netherlands" src="/images/partners/logo_codefornl.gif" /></a>
                </div>
                <div class="col-xs-6 col-md-2">
                  <a href="http://code4.ro/"><img class="img-responsive" alt="Code For Romania" title="Code For Romania, Romania" src="/images/partners/logo_code4ro.png" /></a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-12"><h2>Former partners</h2></div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_allryder.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_amsterdam.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_codeforall.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_dotopen.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_waag.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_enll.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_forumvirium.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_frauenhoferfokus.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_morphcode.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_nesta.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_okfn.png" />
                </div>
                <div class="col-xs-6 col-md-2">
                  <img class="img-responsive" src="/images/partners/logo_push.png" />
                </div>
              </div>
          </section>
        </main>
        <!-- #main -->
        </div>
        <!-- #primary -->
      </div>
      <!-- #content -->
      {% include footer.html %}
      <!-- #colophon -->
    </div>
    <!-- #page -->
    {% include scripts.html %}
</body>

</html>
