<!DOCTYPE html>
<html lang="en-US" class=" js no-touch">
{% include header.html %}
<body class="page page-id-1251 page-template page-template-page-full-width-php group-blog">
  <div id="page" class="hfeed site">
    {% include pagehead.html %}
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
          <div class="container">
            <div class="col-md-8">
              <header class="page-entry-header">
                <h1 class="entry-title">Fellows</h1>
              </header>
              {{ content }}
              {% for member in site.github.organization_members %}
              <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-stories">
                <header class="entry-header">
                  <h1 class="entry-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>
                  <div class="entry-meta">
                  </div>
                </header>
                <div class="entry-content">
                  <a href="{{ member.html_url }}">
                    <img class="img-responsive" alt="{{ member.login }}" title="{{ member.login }}" src="{{ member.avatar_url }}" width="100" />
                  </a>
                </div>
              </article>
              {% endfor %}
            </div>
              <!--.col-md-8-->
            </div>
            <!--.container-->
        </main>
        <!-- #main -->
        </div>
        <!-- #primary -->
      </div>
      <!-- #content -->
      {% include footer.html %}
      <!-- #colophon -->
    </div>
    <!-- #page -->
    {% include scripts.html %}
</body>
</html>
