<!DOCTYPE html>
<html lang="en-US" class=" js no-touch">
{% include header.html %}

<body class="page page-id-1251 page-template page-template-page-full-width-php group-blog">
  <div id="page" class="hfeed site">
    {% include pagehead.html %}
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
          <div class="container">
            <div class="col-md-8">
              <header class="page-entry-header">
                <h1 class="entry-title">{{ page.title }}</h1>
              </header>
              <article id="post-1684" class="post type-post status-publish format-standard has-post-thumbnail hentry category-stories">
                <header class="entry-header">
                  {% unless page.hide_meta %}
                  <div class="entry-meta">
                    <span class="posted-on">Posted on <a href="{{ post.url }}" rel="bookmark">
                      <time class="entry-date published" datetime="{{ post.date }}">{{ page.date | date: '%B %d, %Y' }}</time></a>
                    </span>
                    <span class="byline"> by <span class="author vcard"><a class="url fn n" href="author/{{ post.author }}">{{ page.author}}</a><span></span>
                  </div>
                  {% endunless %}
                </header>
                <div class="entry-content">
                  {{ content }}
                </div>
            </div>
          </div>
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->
    </div>
    <!-- #content -->
    {% include footer.html %}
    <!-- #colophon -->
  </div>
  <!-- #page -->
  {% include scripts.html %}
</body>

</html>
